Repository astronomer/astronomer-cosmos, pull requests merged in 2023-11, with the labels that each got.

#665 Release 1.2.3
  CHANGELOG.rst
  cosmos/__init__.py
  cosmos/converter.py
  dev/dags/basic_cosmos_task_group.py
Labels: priority:high, area:config

#663 Add aws_session_token for Athena mapping
  cosmos/profiles/__init__.py
  cosmos/profiles/athena/access_key.py
  tests/profiles/athena/test_athena_access_key.py
Labels: profile:athena, area:profile

#666 Fix 'Unable to find the dbt executable: dbt' error
  cosmos/config.py
  cosmos/converter.py
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
  tests/test_config.py
  tests/test_converter.py
Labels: priority:high, parsing:dbt_ls, execution:local, area:rendering

#671 Store compiled_sql even when task fails (fixes issue #369)
  cosmos/operators/local.py
  tests/operators/test_local.py
Labels: execution:local, area:execution, dbt:compile

#674 Docs fix: add execution config to MWAA code example (#667)
  docs/getting_started/mwaa.rst
Labels: area:docs, dbt:docs

#677 Release 1.2.4
  CHANGELOG.rst
  cosmos/__init__.py
Labels: execution:local, area:dependencies, dbt:deps

#662 Fix running models that use alias while supporting dbt versions
  cosmos/airflow/graph.py
  cosmos/dbt/graph.py
  dev/dags/dbt/model_version/models/schema.yml
  tests/airflow/test_graph.py
  tests/dbt/test_graph.py
  tests/dbt/test_selector.py
  tests/test_converter.py
Labels: priority:high, parsing:custom, area:parsing, dbt:run

#681 Make `profiles_yml_path` optional for `ExecutionMode.DOCKER` and `KUBERNETES`
  cosmos/config.py
  cosmos/converter.py
  tests/test_config.py
  tests/test_converter.py
Labels: execution:local, area:config

#673 Kubernetes on warning callback
  cosmos/operators/kubernetes.py
  tests/operators/test_kubernetes.py
Labels: execution:kubernetes, area:execution, dbt:test

#692 Return code or error ignores WarnErrorOptions
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
Labels: parsing:custom, area:dependencies, size:XS

#695 Highlight DAG examples in README
  README.rst
Labels: area:docs, size:XS

#705 Fix example DAG in the README and docs/index
  README.rst
  docs/_static/jaffle_shop_dag.png
  docs/index.rst
  docs/requirements.txt
  pyproject.toml
Labels: area:docs, dbt:docs, priority:medium, size:M

#706 Fix docs index image
  docs/index.rst
Labels: area:docs, dbt:docs, size:XS

#702 Prevent overriding dbt profile fields with profile args of "type" or "method"
  cosmos/profiles/base.py
  tests/profiles/test_base_profile.py
Labels: area:profile, size:M

#690 Add support for env vars in RenderConfig for dbt ls parsing
  cosmos/config.py
  cosmos/dbt/graph.py
  cosmos/dbt/project.py
  dev/dags/example_cosmos_sources.py
  docs/configuration/render-config.rst
  tests/dbt/test_graph.py
  tests/dbt/test_project.py
Labels: parsing:dbt_ls, area:config, dbt:list, size:M

#710 Release 1.2.5
  CHANGELOG.rst
  cosmos/__init__.py
Labels: parsing:dbt_ls, area:execution, size:S

#711 Release 1.3.0a2
  CHANGELOG.rst
  cosmos/__init__.py
Labels: profile:vertica, area:profile, dbt:docs, size:XS
