Repository astronomer/astronomer-cosmos, pull requests merged in 2023-12, with the labels that each got.

#732 Speed up integration tests
  tests/test_example_dags.py
  tests/test_example_dags_no_connections.py
Labels: area:performance, size:XS

#731 Update doc with conflicts between Airflow and dbt doc
  .pre-commit-config.yaml
  docs/getting_started/execution-modes-local-conflicts.rst
Labels: execution:local, area:docs, dbt:docs, size:M

#734 Document contributor roles and add maintainers list
  docs/contributing.rst
  docs/contributors-roles.rst
  docs/contributors.rst
  docs/index.rst
Labels: area:docs, dbt:docs, size:M

#721 Support no profile_config for K8s & Docker
  cosmos/converter.py
  tests/test_converter.py
Labels: execution:docker, area:config, size:L

#728 Add support to select using graph-operators when using `LoadMode.CUSTOM` or `LoadMode.DBT_MANIFEST`
  cosmos/dbt/selector.py
  docs/configuration/selecting-excluding.rst
  tests/dbt/test_selector.py
Labels: parsing:dbt_manifest, parsing:custom, area:selector, dbt:run, size:L

#744 Promote @jbandoro to committer
  docs/contributors.rst
Labels: area:docs, size:XS, lgtm

#738 Reduce Mccabe code complexity to 8
  cosmos/airflow/graph.py
  cosmos/converter.py
  cosmos/dbt/parser/project.py
  cosmos/dbt/selector.py
  pyproject.toml
Labels: area:performance, size:L

#730 Adding dbt_packages when dbt_deps is False
  cosmos/dbt/graph.py
  cosmos/dbt/project.py
  cosmos/operators/local.py
  tests/dbt/test_graph.py
  tests/dbt/test_project.py
Labels: area:dependencies, dbt:deps, size:M

#743 Replace flake8 for ruff
  .pre-commit-config.yaml
  pyproject.toml
Labels: area:dependencies, size:M

#748 Tests: use temp dir for `test_load_via_dbt_ls_without_dbt_deps_and_preinstalled_dbt_packages`
  tests/dbt/test_graph.py
Labels: parsing:dbt_ls, dbt:test, area:testing, size:S

#753 Release 1.3.0a3
  CHANGELOG.rst
  cosmos/__init__.py
Labels: profile:vertica, profile:snowflake, parsing:dbt_manifest, execution:kubernetes, execution:docker, area:dependencies, area:config, area:execution, area:profile, dbt:deps, area:testing, size:S, lgtm

#735 Expose environment variables and dbt variables in `ProjectConfig`
  .pre-commit-config.yaml
  cosmos/config.py
  cosmos/converter.py
  cosmos/dbt/graph.py
  cosmos/dbt/parser/project.py
  dev/dags/dbt/simple/models/top_animations.sql
  dev/dags/example_cosmos_sources.py
  docs/configuration/operator-args.rst
  docs/configuration/project-config.rst
  docs/configuration/render-config.rst
  tests/dbt/parser/test_project.py
  tests/dbt/test_graph.py
  tests/test_config.py
  tests/test_converter.py
Labels: parsing:custom, area:config, dbt:run, size:L

#761 Add package location to work with hatchling 1.19.0
  pyproject.toml
Labels: area:dependencies, size:XS

#766 Fix type check error in `DbtKubernetesBaseOperator.build_env_args`
  cosmos/operators/kubernetes.py
Labels: execution:kubernetes, area:execution, priority:low, size:XS

#741 FIX: map vertica airflow connection `schema` for vertica `database`
  cosmos/profiles/vertica/user_pass.py
  tests/profiles/vertica/test_vertica_user_pass.py
Labels: profile:vertica, area:profile, size:M, lgtm

#759 Extend DbtDocsLocalOperator with static flag
  cosmos/operators/local.py
  docs/configuration/generating-docs.rst
  tests/operators/test_local.py
Labels: execution:local, area:docs, dbt:docs, area:testing, size:M, lgtm

#758 Athena - Get temporary credentials from the conn_id
  cosmos/profiles/athena/access_key.py
  pyproject.toml
  tests/profiles/athena/test_athena_access_key.py
Labels: profile:athena, execution:docker, area:dependencies, area:profile, dbt:run, area:testing, size:L, lgtm

#733 Add new parsing method `LoadMode.DBT_LS_FILE`
  cosmos/config.py
  cosmos/constants.py
  cosmos/dbt/graph.py
  dev/dags/dbt/jaffle_shop/dbt_ls_models_staging.txt
  dev/dags/user_defined_profile.py
  docs/configuration/parsing-methods.rst
  tests/dbt/test_graph.py
  tests/sample/sample_dbt_ls.txt
  tests/test_config.py
Labels: parsing:custom, area:parsing, dbt:parse, size:L, lgtm

#768 Support disabling event tracking when using Cosmos profile mapping
  cosmos/profiles/base.py
  docs/templates/index.rst.jinja2
  tests/profiles/test_base_profile.py
Labels: parsing:custom, area:config, dbt:run, size:M, status:awaiting-reviewer
