Repository astronomer/astronomer-cosmos, pull requests merged in 2024-06, with the labels that each got.

#1023 Allow setting invocation mode when using `ExecutionMode.VIRTUALENV`
  cosmos/config.py
  docs/getting_started/execution-modes.rst
  tests/test_config.py
Labels: execution:virtualenv, size:M, lgtm

#1018 Enable unit tests for Python3.12
  .github/workflows/test.yml
  pyproject.toml
  tests/operators/test_base.py
Labels: area:testing, area:ci, size:M, lgtm

#1026 Update dbt and Airflow conflicts matrix
  docs/getting_started/execution-modes-local-conflicts.rst
Labels: area:dependencies, area:docs, size:M, lgtm

#1025 Fix Cosmos enable_cache setting
  cosmos/settings.py
  tests/test_settings.py
Labels: area:config, area:testing, size:S, lgtm

#1022 Athena profile mapping set aws_session_token in profile only if it exist
  cosmos/profiles/athena/access_key.py
  tests/profiles/athena/test_athena_access_key.py
Labels: profile:athena, area:profile, size:M, lgtm

#1017 Make GoogleCloudServiceAccountDictProfileMapping dataset profile argu…
  cosmos/profiles/bigquery/service_account_keyfile_dict.py
  tests/profiles/bigquery/test_bq_service_account_keyfile_dict.py
Labels: profile:bigquery, area:profile, size:S, lgtm

#1016 Add Clickhouse profile mapping
  cosmos/profiles/__init__.py
  cosmos/profiles/clickhouse/__init__.py
  cosmos/profiles/clickhouse/user_pass.py
  pyproject.toml
  tests/profiles/clickhouse/__init__.py
  tests/profiles/clickhouse/test_clickhouse_userpass.py
Labels: profile:clickhouse, area:profile, size:L, lgtm

#1027 Add more fields in bug template to reduce turnaround in issue triaging
  .github/ISSUE_TEMPLATE/01-bug.yml
Labels: area:config, size:M, lgtm

#1030 Only run `dbt deps` when there are dependencies
  cosmos/constants.py
  cosmos/dbt/graph.py
  cosmos/dbt/project.py
  cosmos/operators/local.py
  tests/dbt/test_project.py
  tests/operators/test_local.py
Labels: area:performance, execution:local, area:rendering, dbt:deps, size:M, lgtm

#1033 Bring back `dataset` as a required field for BigQuery profile
  cosmos/profiles/bigquery/service_account_keyfile_dict.py
  tests/profiles/bigquery/test_bq_service_account_keyfile_dict.py
Labels: profile:bigquery, area:profile, size:XS, lgtm

#1013 Use uv in CI
  .github/workflows/test.yml
  scripts/test/pre-install-airflow.sh
Labels: area:ci, size:M, lgtm

#999 support static_index.html docs
  cosmos/plugin/__init__.py
  cosmos/settings.py
  docs/configuration/hosting-docs.rst
  pyproject.toml
  tests/plugin/test_plugin.py
Labels: area:docs, dbt:docs, size:L, lgtm

#1038 Add deep linking of dbt docs
  cosmos/plugin/__init__.py
  cosmos/plugin/templates/dbt_docs.html
Labels: area:docs, dbt:docs, size:M, lgtm

#1043 Update documentation for DbtDocs generator
  docs/configuration/generating-docs.rst
Labels: area:docs, size:XS, lgtm

#1047 [Bug] Accidentally attaching adapters to root logger leads to increased logging costs
  cosmos/__init__.py
  cosmos/cache.py
  cosmos/dbt/project.py
  cosmos/log.py
  tests/test_log.py
Labels: area:logging, size:S, lgtm

#1055 [Bug fix] Add CSP header to iframe contents
  cosmos/plugin/__init__.py
Labels: dbt:docs, size:XS, lgtm, area:plugin

#1057 Mark plugin integration tests as integration
  tests/plugin/test_plugin.py
Labels: area:testing, size:XS, lgtm

#1054 Change example DAGs to use `example_conn` as opposed to `airflow_db`
  .github/workflows/test.yml
  dev/dags/basic_cosmos_dag.py
  dev/dags/basic_cosmos_task_group.py
  dev/dags/cosmos_manifest_example.py
  dev/dags/cosmos_profile_mapping.py
  dev/dags/cosmos_seed_dag.py
  dev/dags/dbt_docs.py
  dev/dags/example_model_version.py
  dev/dags/example_virtualenv.py
  dev/dags/performance_dag.py
  tests/dbt/test_graph.py
  tests/operators/test_local.py
Labels: area:config, size:M, lgtm

#1056 Cache hatch folder in the CI
  .github/workflows/test.yml
Labels: execution:virtualenv, area:ci, size:S, lgtm

#1051 Fix AKS permission error in restricted env
  cosmos/cache.py
  tests/test_cache.py
Labels: size:M, lgtm

#1044 Add node config to TaskInstance Context
  cosmos/airflow/graph.py
  cosmos/core/airflow.py
  cosmos/core/graph/entities.py
  cosmos/dbt/graph.py
  cosmos/operators/base.py
  tests/airflow/test_graph.py
  tests/dbt/test_graph.py
  tests/operators/test_base.py
Labels: size:L, lgtm

#1063 Add ability to specify host/port for Snowflake connection
  cosmos/profiles/snowflake/user_pass.py
  tests/profiles/snowflake/test_snowflake_user_pass.py
Labels: profile:snowflake, area:profile, size:S, lgtm

#1014 Speed up `LoadMode.DBT_LS` by caching dbt ls output in Airflow Variable
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  cosmos/__init__.py
  cosmos/cache.py
  cosmos/config.py
  cosmos/constants.py
  cosmos/converter.py
  cosmos/dbt/graph.py
  cosmos/settings.py
  dev/dags/basic_cosmos_task_group.py
  dev/dags/example_cosmos_cleanup_dag.py
  docs/configuration/caching.rst
  docs/configuration/cosmos-conf.rst
  docs/configuration/index.rst
  docs/configuration/parsing-methods.rst
  docs/configuration/render-config.rst
  pyproject.toml
  scripts/test/integration-setup.sh
  scripts/test/integration.sh
  tests/dbt/test_graph.py
  tests/test_cache.py
Labels: area:performance, parsing:dbt_ls, area:config, area:rendering, dbt:list, size:XXL, lgtm

#1068 Remove duplicates in changelog
  CHANGELOG.rst
Labels: area:docs, size:M, lgtm

#1069 [Docs]: Fix rendering for env enable_cache_dbt_ls
  docs/configuration/cosmos-conf.rst
Labels: area:docs, size:XS

#1046 Support to cache profiles created via `ProfileMapping`
  cosmos/cache.py
  cosmos/config.py
  cosmos/constants.py
  cosmos/profiles/base.py
  cosmos/settings.py
  docs/configuration/caching.rst
  docs/configuration/cosmos-conf.rst
  tests/dbt/test_graph.py
  tests/profiles/test_base_profile.py
  tests/test_cache.py
Labels: area:config, area:profile, size:L, lgtm

#1070 Support partial parsing when cache is disabled
  cosmos/cache.py
  cosmos/dbt/graph.py
  dev/dags/dbt/jaffle_shop/target/manifest.json
  tests/dbt/test_graph.py
  tests/test_cache.py
Labels: parsing:dbt_manifest, area:parsing, dbt:parse, size:M, lgtm

#1071 Release 1.5.0
  CHANGELOG.rst
  cosmos/__init__.py
Labels: area:performance, profile:clickhouse, parsing:dbt_ls, execution:kubernetes, area:parsing, area:execution, area:profile, area:docs, size:S, lgtm
