Repository astronomer/astronomer-cosmos, pull requests merged in 2024-02, with the labels that each got.

#771 Add Azure Container Instance as Execution Mode
  .pre-commit-config.yaml
  cosmos/__init__.py
  cosmos/airflow/graph.py
  cosmos/constants.py
  cosmos/operators/azure_container_instance.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  docs/_static/cosmos_aci_schematic.png
  docs/_static/jaffle_shop_azure_container_instance.png
  docs/getting_started/azure-container-instance.rst
  docs/getting_started/execution-modes.rst
  pyproject.toml
  scripts/test/pre-install-airflow.sh
  tests/airflow/test_graph.py
  tests/operators/test_azure_container_instance.py
Labels: execution:docker, area:execution, dbt:run, size:XL, lgtm, status:awaiting-author

#845 Fix broken integration test uncovered from pytest v8.0 update
  tests/operators/test_local.py
Labels: execution:local, area:testing, size:S, lgtm

#846 Fix typo in MWAA getting started guide
  docs/getting_started/mwaa.rst
Labels: execution:local, area:docs, size:XS, lgtm

#847 Fix docs:`ExecutionConfig.dbt_project_path`
  docs/configuration/execution-config.rst
Labels: execution:docker, area:docs, dbt:docs, size:XS, lgtm

#827 Add performance integration tests
  .github/workflows/test.yml
  dev/dags/dbt/perf/.gitignore
  dev/dags/dbt/perf/README.md
  dev/dags/dbt/perf/analyses/.gitkeep
  dev/dags/dbt/perf/dbt_project.yml
  dev/dags/dbt/perf/macros/.gitkeep
  dev/dags/dbt/perf/profiles.yml
  dev/dags/dbt/perf/seeds/.gitkeep
  dev/dags/dbt/perf/snapshots/.gitkeep
  dev/dags/dbt/perf/tests/.gitkeep
  dev/dags/performance_dag.py
  pyproject.toml
  scripts/test/integration-expensive.sh
  scripts/test/integration-setup.sh
  scripts/test/integration-sqlite-setup.sh
  scripts/test/integration-sqlite.sh
  scripts/test/integration.sh
  scripts/test/performance-setup.sh
  scripts/test/performance.sh
  scripts/test/unit-cov.sh
  scripts/test/unit.sh
  tests/perf/test_performance.py
  tests/test_example_dags.py
  tests/test_example_dags_no_connections.py
Labels: area:performance, parsing:custom, execution:local, dbt:run, size:L, lgtm

#835 Fix: `operator_args` modified in place in Airflow converter
  cosmos/converter.py
  tests/test_converter.py
Labels: parsing:custom, execution:local, dbt:run, area:testing, size:M, lgtm

#849 Fix: Docker and Kubernetes operators execute method resolution
  cosmos/operators/docker.py
  cosmos/operators/kubernetes.py
  tests/operators/test_docker.py
  tests/operators/test_kubernetes.py
Labels: execution:docker, area:execution, size:M, lgtm

#800 Support partial parsing
  cosmos/config.py
  cosmos/constants.py
  cosmos/converter.py
  cosmos/dbt/graph.py
  cosmos/dbt/project.py
  cosmos/hooks/subprocess.py
  cosmos/operators/base.py
  cosmos/operators/local.py
  docs/configuration/project-config.rst
  docs/getting_started/execution-modes.rst
  tests/dbt/test_graph.py
  tests/dbt/test_project.py
  tests/hooks/__init__.py
  tests/hooks/test_subprocess.py
  tests/operators/test_local.py
Labels: parsing:custom, execution:local, area:parsing, dbt:parse, size:L, lgtm

#737 Add dbt docs natively in Airflow via plugin
  .pre-commit-config.yaml
  cosmos/plugin/__init__.py
  cosmos/plugin/static/iframeResizer.contentWindow.min.js
  cosmos/plugin/static/iframeResizer.min.js
  cosmos/plugin/templates/dbt_docs.html
  cosmos/plugin/templates/dbt_docs_not_set_up.html
  dev/dags/dbt/jaffle_shop/.gitignore
  dev/docker-compose.yaml
  docs/_static/location_of_dbt_docs_in_airflow.png
  docs/configuration/generating-docs.rst
  docs/configuration/hosting-docs.rst
  docs/configuration/index.rst
  pyproject.toml
  tests/plugin/__init__.py
  tests/plugin/test_plugin.py
Labels: execution:docker, area:docs, dbt:docs, size:XL, lgtm, status:awaiting-reviewer

#856 fix `folder_dir` not showing on logs for `DbtDocsS3LocalOperator`
  cosmos/operators/local.py
Labels: execution:local, area:logging, dbt:docs, size:XS, lgtm

#859 Improve `dbt ls` parsing resilience to missing tags/config
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
Labels: execution:local, area:parsing, dbt:list, size:S, lgtm

#858 Extend `DatabricksTokenProfileMapping` test to include session properties
  tests/profiles/databricks/test_dbr_token.py
Labels: profile:databricks, area:testing, size:S, lgtm

#850 Add support for `InvocationMode.DBT_RUNNER` for local execution mode
  .github/workflows/test.yml
  cosmos/config.py
  cosmos/constants.py
  cosmos/converter.py
  cosmos/dbt/parser/output.py
  cosmos/dbt/project.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  dev/dags/basic_cosmos_task_group.py
  dev/dags/dbt/perf/profiles.yml
  dev/dags/performance_dag.py
  docs/configuration/execution-config.rst
  docs/getting_started/execution-modes.rst
  scripts/test/performance-setup.sh
  tests/dbt/parser/test_output.py
  tests/dbt/test_project.py
  tests/operators/test_local.py
  tests/operators/test_virtualenv.py
  tests/perf/test_performance.py
  tests/test_config.py
  tests/test_converter.py
Labels: profile:postgres, execution:local, area:execution, dbt:run, size:XL, lgtm

#683 Make PostgresUserPasswordProfileMapping schema profile argument schem…
  cosmos/profiles/postgres/user_pass.py
  tests/dbt/test_graph.py
  tests/profiles/postgres/test_pg_user_pass.py
  tests/sample/manifest_source.json
Labels: profile:postgres, area:profile, size:L, lgtm, status:pending-test

#786 Add more template fields to `DbtBaseOperator`
  cosmos/operators/base.py
  cosmos/operators/docker.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  docs/configuration/operator-args.rst
  tests/operators/test_base.py
  tests/operators/test_local.py
Labels: parsing:custom, execution:local, area:docs, dbt:run, size:L, lgtm, status:awaiting-author
