Repository astronomer/astronomer-cosmos, pull requests merged in 2024-09, with the labels that each got.

#1195 Fix task owner fallback
  cosmos/core/airflow.py
  tests/airflow/test_graph.py
Labels: size:M, lgtm

#1208 Fix CI issues - Upgrade actions/upload-artifact & actions/download-artifact to v4 and set min version for packaging
  .github/workflows/test.yml
  pyproject.toml
Labels: area:ci, size:S, lgtm

#1210 Fix CI wrt broken coverage upload artifact
  .github/workflows/test.yml
Labels: size:XS, lgtm

#1211 Ignore from Git possibly created symlink to 'dev/dags' for running 'airflow dags test' command
  .gitignore
Labels: execution:local, area:config, size:XS, lgtm

#1191 Update type for printer_width param in class DbtProfileConfigVars to int
  cosmos/profiles/base.py
Labels: area:profile, size:XS, lgtm

#1175 Fix invalid argument (`full_refresh`) passed to DbtTestAwsEksOperator (and others)
  cosmos/operators/base.py
  cosmos/operators/local.py
  tests/operators/test_kubernetes.py
Labels: execution:local, size:M, lgtm

#1215 Consistently handle build and imports in cosmos/__init__.py
  cosmos/__init__.py
  cosmos/operators/azure_container_instance.py
  tests/operators/test_azure_container_instance.py
Labels: area:execution, dbt:build, size:L, lgtm

#1221 [DOCS] Add scarf to readme and docs for website analytics
  README.rst
  docs/index.rst
Labels: area:docs, size:S, lgtm

#1153 Add GCP_CLOUD_RUN_JOB execution mode
  cosmos/__init__.py
  cosmos/constants.py
  cosmos/converter.py
  cosmos/operators/gcp_cloud_run_job.py
  docs/_static/cosmos_gcp_crj_schematic.png
  docs/_static/jaffle_shop_big_query.png
  docs/_static/jaffle_shop_gcp_cloud_run_job.png
  docs/getting_started/execution-modes.rst
  docs/getting_started/gcp-cloud-run-job.rst
  docs/getting_started/index.rst
  pyproject.toml
  tests/operators/test_gcp_cloud_run_job.py
Labels: area:execution, size:XL, lgtm

#1198 URL encode dataset names to support multibyte characters
  cosmos/operators/local.py
  dev/dags/dbt/simple/models/ｍｕｌｔｉｂｙｔｅ.sql
  docs/configuration/render-config.rst
  tests/operators/test_local.py
Labels: execution:local, area:execution, area:datasets, size:M, lgtm

#1217 Support using `DatasetAlias` and fix orphaning unreferenced dataset
  cosmos/core/airflow.py
  cosmos/dataset.py
  cosmos/operators/local.py
  cosmos/settings.py
  docs/configuration/scheduling.rst
  tests/operators/test_local.py
  tests/test_dataset.py
  tests/utils.py
Labels: execution:local, area:datasets, size:L, lgtm

#1224 Introduce ground work for `ExecutionMode.AIRFLOW_ASYNC`
  .github/workflows/test.yml
  cosmos/airflow/graph.py
  cosmos/constants.py
  cosmos/operators/airflow_async.py
  cosmos/operators/base.py
  cosmos/operators/local.py
  cosmos/settings.py
  dev/dags/simple_dag_async.py
  docs/configuration/cosmos-conf.rst
  docs/getting_started/execution-modes.rst
  tests/airflow/test_graph.py
  tests/operators/test_airflow_async.py
  tests/operators/test_base.py
  tests/operators/test_local.py
  tests/test_example_dags.py
Labels: area:config, area:execution, dbt:compile, size:XL, lgtm

#1233 Remove PR branch added for testing a change in CI in #1224
  .github/workflows/test.yml
Labels: area:ci, size:XS, lgtm
