Repository astronomer/astronomer-cosmos, pull requests merged in 2024-05, with the labels that each got.

#904 Improve performance by 22-35% or more by caching partial parse artefact
  cosmos/cache.py
  cosmos/config.py
  cosmos/constants.py
  cosmos/converter.py
  cosmos/dbt/graph.py
  cosmos/dbt/project.py
  cosmos/operators/base.py
  cosmos/operators/local.py
  cosmos/settings.py
  dev/dags/basic_cosmos_task_group.py
  dev/dags/cosmos_profile_mapping.py
  pyproject.toml
  tests/dbt/test_graph.py
  tests/dbt/test_project.py
  tests/operators/test_local.py
  tests/operators/test_virtualenv.py
  tests/test_cache.py
  tests/test_converter.py
Labels: area:performance, parsing:dbt_ls, execution:local, execution:virtualenv, area:config, area:parsing, dbt:parse, size:L, lgtm

#898 Improve partial parsing docs
  docs/configuration/index.rst
  docs/configuration/partial-parsing.rst
  docs/configuration/project-config.rst
  docs/getting_started/execution-modes.rst
Labels: parsing:custom, execution:local, area:docs, dbt:docs, size:M, lgtm

#935 Fix netlify error
  docs/requirements.txt
Labels: area:dependencies, size:XS, lgtm

#940 Add Apache Airflow 2.9 to the test matrix
  .github/workflows/test.yml
  pyproject.toml
Labels: size:XS, lgtm

#939 Make Pydantic a required dependency
  pyproject.toml
Labels: area:dependencies, size:XS, lgtm

#946 Fix issue when publishing a new release to PyPI
  .github/workflows/deploy.yml
  pyproject.toml
Labels: area:config, area:ci, size:XS, lgtm

#947 Improve logs to troubleshoot issue in 1.4.0a2 with astro-cli
  cosmos/operators/local.py
Labels: execution:local, area:logging, size:XS, lgtm

#948 Gracefully error if users try to emit_datasets with Airflow 2.9.0 or 2.9.1
  cosmos/constants.py
  cosmos/exceptions.py
  cosmos/operators/local.py
  dev/dags/example_virtualenv.py
  pyproject.toml
  tests/operators/test_local.py
  tests/test_example_dags.py
Labels: profile:postgres, execution:local, area:logging, area:datasets, size:L, lgtm

#951 Improve docs on how to run Cosmos in Astro
  docs/getting_started/astro.rst
Labels: area:docs, size:XS, lgtm

#933 Ensure tags don't run into index errors when there are no upstream nodes
  cosmos/dbt/selector.py
  tests/dbt/test_selector.py
Labels: area:selector, size:S, lgtm, cosmos

#950 Correct stale `root_path` in partial parse file
  .github/workflows/test.yml
  cosmos/cache.py
  docs/requirements.txt
  pyproject.toml
  scripts/test/integration-dbt-1-5-4.sh
Labels: area:parsing, dbt:parse, area:testing, size:L, lgtm

#954 Set default value for `append_env` based on execution modes
  cosmos/operators/base.py
  cosmos/operators/local.py
  docs/configuration/operator-args.rst
  tests/operators/test_azure_container_instance.py
  tests/operators/test_base.py
  tests/operators/test_local.py
  tests/operators/test_virtualenv.py
Labels: size:M, lgtm

#934 Release 1.4.0
  .github/workflows/deploy.yml
  CHANGELOG.rst
  cosmos/__init__.py
Labels: area:performance, profile:trino, profile:postgres, profile:databricks, area:dependencies, area:parsing, area:execution, area:docs, dbt:docs, dbt:build, size:M, lgtm

#957 Enable pre-commit run and fix type-check job
  cosmos/operators/local.py
  cosmos/profiles/base.py
  pyproject.toml
Labels: area:config, area:ci, size:XS, lgtm

#955 Fix manifest testing behavior
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
Labels: area:testing, size:M, lgtm

#961 Update emeritus contributors list
  docs/contributors.rst
Labels: area:docs, size:XS, lgtm

#968 Update CODEOWNERS
  .github/CODEOWNERS
  CODEOWNERS
  docs/contributors.rst
Labels: size:XS, lgtm

#969 Clean databricks credentials in test/CI
  .github/workflows/test.yml
Labels: profile:databricks, area:ci, size:M, lgtm

#973 Fix CI databricks issue
  .github/workflows/test.yml
Labels: size:XS

#974 Release 1.4.1
  CHANGELOG.rst
  cosmos/__init__.py
Labels: area:testing, area:ci, size:S, lgtm

#985 Enable ruff F linting
  cosmos/dbt/project.py
  cosmos/operators/base.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  pyproject.toml
  tests/dbt/test_project.py
  tests/operators/test_local.py
  tests/plugin/test_plugin.py
Labels: execution:local, execution:kubernetes, size:S, lgtm

#975 Move airflow conf fetch call to setting.py
  cosmos/log.py
  cosmos/operators/local.py
  cosmos/plugin/__init__.py
  cosmos/settings.py
  docs/configuration/cosmos-conf.rst
  docs/configuration/index.rst
  tests/plugin/test_plugin.py
  tests/test_log.py
Labels: area:config, area:docs, size:L, lgtm

#989 Update Dockerfile -- use latest Astro Runtime
  dev/Dockerfile
Labels: execution:docker, size:XS, lgtm

#988 Update astro.rst -- use latest Astro Runtime
  docs/getting_started/astro.rst
Labels: area:docs, size:XS, lgtm

#994 Drop support for Airflow 2.3
  .github/workflows/test.yml
  pyproject.toml
Labels: area:dependencies, size:S, lgtm

#944 Support for running dbt tasks in AWS EKS
  cosmos/constants.py
  cosmos/converter.py
  cosmos/operators/aws_eks.py
  docs/getting_started/execution-modes.rst
  pyproject.toml
  tests/operators/test_aws_eks.py
Labels: area:execution, area:docs, area:testing, size:L, lgtm, cosmos, triage-needed, epic-assigned

#1005 Fix CI issues
  CODE_OF_CONDUCT.md
  pyproject.toml
  tests/operators/test_local.py
Labels: profile:postgres, area:dependencies, area:ci, size:M, lgtm

#997 Fix `dev/Dockerfile` + Add `uv pip install` for faster build time
  dev/Dockerfile
Labels: area:performance, execution:docker, area:dependencies, size:S, lgtm

#1009 Add GitHub issue templates for bug reports and feature requests
  .github/ISSUE_TEMPLATE/01-bug.yml
  .github/ISSUE_TEMPLATE/02-feature.yml
Labels: area:docs, size:L, lgtm

#1004 Improve error logging in DbtLocalBaseOperator
  cosmos/operators/local.py
  tests/operators/test_local.py
Labels: execution:local, area:logging, size:S, lgtm
