Repository astronomer/astronomer-cosmos, pull requests merged in 2024-01, with the labels that each got.

#772 Remove upper limit to Pydantic
  pyproject.toml
Labels: area:dependencies, size:XS, lgtm

#779 Add Airflow 2.8 to test matrix and update dbt & Airflow conflicts doc
  docs/getting_started/execution-modes-local-conflicts.rst
  pyproject.toml
Labels: execution:local, area:docs, dbt:docs, size:S, lgtm

#757 Additions to docs regarding the `DBT_MANIFEST` load mode
  docs/configuration/parsing-methods.rst
  docs/getting_started/execution-modes.rst
  docs/getting_started/gcc.rst
Labels: parsing:dbt_manifest, area:parsing, area:execution, area:docs, dbt:docs, size:S, lgtm, status:awaiting-author

#776 Update README.rst quickstart link with link to getting started guide
  README.rst
Labels: area:docs, dbt:docs, size:XS, lgtm

#781 Release 1.3.0
  CHANGELOG.rst
  cosmos/__init__.py
Labels: profile:snowflake, parsing:custom, execution:kubernetes, area:parsing, dbt:parse, size:M, lgtm

#777 Update examples to use the latest astro-runtime (10.0.0)
  dev/Dockerfile
  docs/getting_started/astro.rst
Labels: area:docs, dbt:docs, size:XS, lgtm

#784 Bugfix disable event tracking throwing error
  cosmos/profiles/base.py
  dev/dags/basic_cosmos_dag.py
  tests/profiles/test_base_profile.py
Labels: parsing:custom, execution:local, dbt:run, area:testing, size:XS, lgtm

#774 Refactor common executor constructors with test coverage
  cosmos/operators/base.py
  cosmos/operators/docker.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  tests/operators/test_base.py
  tests/operators/test_docker.py
  tests/operators/test_kubernetes.py
  tests/operators/test_local.py
  tests/operators/test_virtualenv.py
Labels: execution:docker, area:execution, dbt:run, size:XL, lgtm

#788 fix docs and path for ls file (#773)
  cosmos/config.py
  docs/configuration/parsing-methods.rst
  tests/test_config.py
Labels: parsing:dbt_ls, execution:local, area:docs, dbt:docs, size:S, lgtm

#790 Fix Cosmos stacktrace to remove unecessary K8s errors
  cosmos/operators/kubernetes.py
Labels: execution:kubernetes, area:execution, dbt:run, size:XS, lgtm

#792 FIX: add missing imports for mwaa getting started docs
  docs/getting_started/mwaa.rst
Labels: area:docs, dbt:docs, size:XS, lgtm

#793 Release 1.3.1
  CHANGELOG.rst
  cosmos/__init__.py
Labels: parsing:dbt_ls, execution:kubernetes, area:docs, size:S, lgtm

#794 Add dbt profile config variables to mapped profile
  cosmos/profiles/__init__.py
  cosmos/profiles/base.py
  dev/dags/cosmos_manifest_example.py
  docs/templates/index.rst.jinja2
  tests/profiles/test_base_profile.py
Labels: profile:bigquery, parsing:custom, execution:local, area:config, area:profile, dbt:docs, size:L, lgtm

#803 Fix: ensure `DbtGraph.update_node_dependency` is called for all load methods
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
Labels: parsing:dbt_ls, execution:local, area:dependencies, dbt:test, size:S, lgtm

#806 Pin pendulum < 3.0.0 for Airflow < 2.8
  pyproject.toml
Labels: execution:virtualenv, area:dependencies, size:S, lgtm

#797 Remove incorrect docstring from DbtLocalBaseOperator
  cosmos/operators/local.py
Labels: parsing:custom, execution:local, area:datasets, size:XS, lgtm

#805 Fix: ensure operator `execute` method is consistent across all execution base subclasses
  cosmos/operators/base.py
  cosmos/operators/docker.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  tests/operators/test_base.py
Labels: execution:docker, area:execution, dbt:run, size:M, lgtm

#809 Add more logs to troubleshoot custom selector
  cosmos/dbt/selector.py
Labels: parsing:custom, execution:local, area:selector, dbt:test, size:XS, lgtm

#814 Fix custom selector when `test` node has no `depends_on` values
  cosmos/dbt/selector.py
  tests/dbt/test_selector.py
Labels: parsing:custom, execution:local, area:selector, dbt:test, size:S, lgtm

#816 Fix forwarding selectors to test task when using `TestBehavior.AFTER_ALL`
  cosmos/airflow/graph.py
  cosmos/converter.py
  cosmos/operators/base.py
  cosmos/operators/local.py
  tests/airflow/test_graph.py
  tests/operators/test_local.py
Labels: parsing:custom, execution:local, area:selector, dbt:test, size:M, lgtm

#810 Fix OpenLineage integration documentation
  docs/configuration/lineage.rst
  docs/configuration/render-config.rst
Labels: area:docs, size:XS, lgtm

#812 Use Airflow constraint file for test environment setup
  .github/workflows/test.yml
  pyproject.toml
Labels: execution:virtualenv, area:dependencies, size:M, lgtm

#819 Update PyPI project description to better describe Cosmos
  pyproject.toml
Labels: area:docs, dbt:run, size:XS, lgtm

#818 Release 1.3
  CHANGELOG.rst
  cosmos/__init__.py
Labels: parsing:custom, execution:local, area:selector, dbt:test, size:S, lgtm

#821 Add Python 3.11 to CI/tests
  .github/workflows/test.yml
  pyproject.toml
Labels: execution:virtualenv, area:ci, size:S, lgtm

#824 Exclude unsupported Airflow versions for Python 3.11 tests
  .github/workflows/test.yml
Labels: area:ci, size:S, lgtm

#825 Fix error when running unit test `test_created_pod` with Py3.11
  tests/operators/test_kubernetes.py
Labels: execution:kubernetes, area:testing, size:XS, lgtm

#826 Add `connect_retries` to databricks profile to fix expensive integration failures
  dev/dags/example_cosmos_python_models.py
  docs/configuration/parsing-methods.rst
Labels: profile:databricks, parsing:dbt_manifest, execution:docker, dbt:run, dbt:test, area:ci, size:XS, lgtm
