Repository astronomer/astronomer-cosmos, pull requests merged in 2024-04, with the labels that each got.

#910 update testing behavior docs
  docs/configuration/testing-behavior.rst
Labels: area:execution, area:docs, size:XS, lgtm

#916 Fix instantiating `DbtTaskGroup` with argument `dag` (outside of `DAG` context)
  cosmos/converter.py
  tests/airflow/test_graph.py
Labels: area:parsing, area:testing, size:S, lgtm

#917 Fix: Typo
  cosmos/dbt/graph.py
Labels: area:docs, size:XS, lgtm

#879 docs: use of datasets for airflow >= 2.4
  docs/configuration/scheduling.rst
Labels: area:docs, size:S, lgtm

#921 fix: missed required parameter for non method authentication
  cosmos/profiles/trino/base.py
  cosmos/profiles/trino/certificate.py
  cosmos/profiles/trino/jwt.py
  cosmos/profiles/trino/ldap.py
  tests/profiles/trino/test_trino_base.py
Labels: profile:trino, area:profile, area:testing, size:S, lgtm

#922 Fix at docs: GCS generation
  docs/configuration/generating-docs.rst
Labels: area:docs, size:XS, lgtm

#863 Fix global flags for lists
  cosmos/operators/base.py
  tests/operators/test_local.py
Labels: area:config, size:M, lgtm
