Repository astronomer/astronomer-cosmos, pull requests merged in 2024-11, with the labels that each got.

#1302 Enable secrect detection precommit check
  .pre-commit-config.yaml
Labels: area:config, size:XS, lgtm

#1307 Support building `DbtDag` without setting paths in `ProjectConfig`
  cosmos/config.py
  cosmos/converter.py
  tests/test_converter.py
Labels: area:config, area:execution, size:M, lgtm

#1305 [Docs] Add limitation about copying target dir files to remote
  docs/configuration/cosmos-conf.rst
Labels: area:docs, size:XS, lgtm

#1311 Getting started dag adding variable and imports
  docs/getting_started/astro.rst
Labels: area:docs, size:XS, lgtm

#1312 Fix access to the `dbt docs` menu item outside of Astro cloud
  cosmos/plugin/__init__.py
  cosmos/settings.py
  tests/plugin/test_plugin.py
Labels: dbt:docs, size:L, lgtm, area:plugin

#1320 Add postgres pod status check for k8s tests in CI
  scripts/test/kubernetes-setup.sh
Labels: execution:kubernetes, area:ci, size:S, lgtm

#1313 Fix vulnerability issue on docs dependency
  docs/requirements.txt
Labels: area:dependencies, size:XS, lgtm

#1327 Add integration test for source node rendering
  dev/dags/example_source_rendering.py
  tests/test_example_dags.py
  tests/test_example_dags_no_connections.py
Labels: area:rendering, area:testing, size:M, lgtm

#1322 Change the mock value of port in TrinoBaseProfileMapping to an integer
  cosmos/profiles/trino/base.py
  tests/profiles/trino/test_trino_base.py
Labels: profile:trino, size:S, lgtm

#1328 Add exempt label option in GH action stale job
  .github/workflows/stale.yml
Labels: area:config, area:ci, size:XS, lgtm

#1326 Add dbt clone operator
  cosmos/__init__.py
  cosmos/operators/airflow_async.py
  cosmos/operators/aws_eks.py
  cosmos/operators/azure_container_instance.py
  cosmos/operators/base.py
  cosmos/operators/docker.py
  cosmos/operators/gcp_cloud_run_job.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  dev/dags/example_operators.py
  docs/getting_started/index.rst
  docs/getting_started/operators.rst
  tests/operators/test_aws_eks.py
  tests/operators/test_azure_container_instance.py
  tests/operators/test_docker.py
  tests/operators/test_gcp_cloud_run_job.py
  tests/operators/test_kubernetes.py
  tests/operators/test_local.py
  tests/operators/test_virtualenv.py
  tests/test_example_dags.py
  tests/test_example_dags_no_connections.py
Labels: profile:bigquery, execution:local, area:profile, size:L, lgtm

#1333 Enable Azure task in the remote store manifest example DAG
  dev/dags/cosmos_manifest_example.py
  pyproject.toml
  scripts/test/pre-install-airflow.sh
Labels: area:dependencies, area:ci, size:M, lgtm

#1345 [Docs] Remove extra ` char from docs
  docs/contributing.rst
Labels: area:docs, size:XS, lgtm
