Repository astronomer/astronomer-cosmos, pull requests merged in 2024-07, with the labels that each got.

#1077 Added new profile mapping configuration for Teradata
  cosmos/profiles/__init__.py
  cosmos/profiles/teradata/__init__.py
  cosmos/profiles/teradata/user_pass.py
  pyproject.toml
  tests/profiles/teradata/__init__.py
  tests/profiles/teradata/test_teradata_user_pass.py
Labels: area:profile, size:L, lgtm

#1081 Fix getting temporary AWS credentials with assume_role
  cosmos/config.py
  tests/dbt/test_graph.py
  tests/test_config.py
Labels: area:config, size:L, lgtm

#1088 Teradata Profile Mapping Issue - Credentials in profile "generated_profile", target "dev" invalid: Runtime Error Must specify `schema` in Teradata profile
  cosmos/profiles/teradata/user_pass.py
  tests/profiles/teradata/test_teradata_user_pass.py
Labels: area:profile, size:S, lgtm

#1098 Change Cosmos dev status from alpha to prod
  pyproject.toml
Labels: size:XS, lgtm

#1099 Install requirements.txt by default during dev env spin up
  dev/Dockerfile
Labels: execution:docker, area:execution, size:XS, lgtm

#1091 add DatabricksOauthProfileMapping profile
  cosmos/profiles/__init__.py
  cosmos/profiles/databricks/__init__.py
  cosmos/profiles/databricks/oauth.py
  tests/profiles/databricks/test_dbr_oauth.py
Labels: profile:databricks, area:profile, size:L, lgtm

#1106 Fix some docs typo
  docs/getting_started/azure-container-instance.rst
  docs/getting_started/index.rst
  docs/index.rst
Labels: area:docs, size:XS, lgtm

#1100 Fix empty tag in case of custom parser
  cosmos/dbt/graph.py
  dev/dags/dbt/jaffle_shop/models/customers.sql
  tests/dbt/parser/test_project.py
  tests/dbt/test_graph.py
Labels: parsing:custom, area:parsing, area:rendering, size:M, lgtm

#1101 Use `dbt ls` as the default parser when profile_config is provided
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
Labels: parsing:dbt_ls, area:parsing, size:XS, lgtm

#1111 Remove `DbtGraph.current_version dead` code
  cosmos/dbt/graph.py
Labels: size:XS, lgtm

#1082 Add task owner to dbt operator
  cosmos/airflow/graph.py
  cosmos/core/airflow.py
  cosmos/core/graph/entities.py
  cosmos/dbt/graph.py
  tests/airflow/test_graph.py
Labels: size:S, lgtm

#1114 Fix `dbt deps` of `LoadMode.DBT_LS` should use `ProjectConfig.dbt_vars`
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
Labels: area:dependencies, dbt:deps, size:M, lgtm

#1105 Use Airflow trademark as it has been registered
  README.rst
  docs/configuration/hosting-docs.rst
  docs/configuration/scheduling.rst
  docs/contributing.rst
  docs/getting_started/docker.rst
  docs/getting_started/execution-modes-local-conflicts.rst
  docs/getting_started/mwaa.rst
  docs/index.rst
Labels: area:docs, size:S, lgtm

#1109 Add support for loading manifest from cloud store using Airflow Object Store
  .github/workflows/test.yml
  cosmos/config.py
  cosmos/constants.py
  cosmos/dbt/graph.py
  cosmos/settings.py
  dev/dags/cosmos_manifest_example.py
  docs/configuration/parsing-methods.rst
  docs/configuration/project-config.rst
  docs/requirements.txt
  pyproject.toml
  tests/test_config.py
  tests/test_example_dags.py
  tests/test_example_dags_no_connections.py
Labels: area:config, area:docs, area:testing, size:L, lgtm

#1124 [CI] Disable test for Airflow-2.5 and Python-3.11 combination
  .github/workflows/test.yml
Labels: area:ci, size:XS, lgtm
