Repository astronomer/astronomer-cosmos, pull requests merged in 2024-08, with the labels that each got.

#1132 Fix import handling by lazy loading hooks introduced in PR #1109
  cosmos/config.py
  cosmos/constants.py
Labels: area:dependencies, size:M, lgtm

#1086 Cache package-lock.yml file
  cosmos/cache.py
  cosmos/constants.py
  cosmos/dbt/graph.py
  cosmos/dbt/project.py
  cosmos/operators/local.py
  cosmos/settings.py
  dev/dags/dbt/jaffle_shop/package-lock.yml
  docs/configuration/cosmos-conf.rst
  tests/dbt/test_graph.py
  tests/test_cache.py
Labels: area:dependencies, dbt:deps, size:L, lgtm

#1107 Add default source nodes rendering
  .github/workflows/test.yml
  cosmos/airflow/graph.py
  cosmos/config.py
  cosmos/constants.py
  cosmos/core/airflow.py
  cosmos/dbt/graph.py
  cosmos/operators/aws_eks.py
  cosmos/operators/azure_container_instance.py
  cosmos/operators/base.py
  cosmos/operators/docker.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  dev/dags/dbt/jaffle_shop/models/staging/sources.yml
  dev/dags/dbt/jaffle_shop/models/staging/stg_customers.sql
  dev/dags/dbt/jaffle_shop/models/staging/stg_orders.sql
  dev/dags/dbt/jaffle_shop/models/staging/stg_payments.sql
  docs/configuration/cosmos-conf.rst
  docs/configuration/index.rst
  docs/configuration/source-nodes-rendering.rst
  scripts/test/integration-dbt-1-5-4.sh
  scripts/test/integration-expensive.sh
  scripts/test/integration.sh
  tests/airflow/test_graph.py
  tests/dbt/test_graph.py
  tests/operators/test_local.py
Labels: execution:local, execution:virtualenv, area:rendering, area:execution, dbt:source, size:XL, lgtm

#1150 Extend Cosmos custom selector to support + when using paths and tags
  cosmos/dbt/selector.py
  tests/dbt/test_selector.py
Labels: parsing:dbt_manifest, area:selector, size:L, lgtm

#1108 Simplify logging
  cosmos/__init__.py
  cosmos/hooks/subprocess.py
  cosmos/log.py
  cosmos/operators/azure_container_instance.py
  cosmos/operators/base.py
  cosmos/operators/docker.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  cosmos/settings.py
  docs/configuration/logging.rst
  pyproject.toml
  tests/operators/test_local.py
  tests/test_log.py
Labels: area:logging, size:L, lgtm

#1127 Run some example in Kubernetes execution mode in CI
  .github/workflows/test.yml
  dev/Dockerfile.postgres_profile_docker_k8s
  dev/dags/dbt/jaffle_shop/profiles.yml
  dev/dags/jaffle_shop_kubernetes.py
  docs/getting_started/execution-modes.rst
  docs/getting_started/kubernetes.rst
  pyproject.toml
  scripts/test/integration-dbt-1-5-4.sh
  scripts/test/integration-expensive.sh
  scripts/test/integration-kubernetes.sh
  scripts/test/integration-sqlite.sh
  scripts/test/integration.sh
  scripts/test/kubernetes-setup.sh
  scripts/test/performance.sh
  scripts/test/postgres-deployment.yaml
  scripts/test/unit-cov.sh
  scripts/test/unit.sh
  tests/dbt/test_graph.py
  tests/test_example_dags.py
  tests/test_example_dags_no_connections.py
  tests/test_example_k8s_dags.py
Labels: profile:postgres, execution:kubernetes, area:execution, area:ci, size:L, lgtm

#1147 Add support to store and fetch dbt ls cache in remote stores
  cosmos/__init__.py
  cosmos/cache.py
  cosmos/dbt/graph.py
  cosmos/settings.py
  dev/dags/example_cosmos_cleanup_dag.py
  docs/configuration/caching.rst
  docs/configuration/cosmos-conf.rst
  tests/dbt/test_graph.py
  tests/test_cache.py
Labels: area:performance, area:config, dbt:list, size:L, lgtm

#1079 Support persisting the `LoadMode.VIRTUALENV` directory
  cosmos/config.py
  cosmos/converter.py
  cosmos/dbt/graph.py
  cosmos/operators/virtualenv.py
  cosmos/settings.py
  dev/dags/example_virtualenv.py
  docs/configuration/cosmos-conf.rst
  tests/dbt/test_graph.py
  tests/operators/test_virtualenv.py
  tests/test_converter.py
Labels: execution:virtualenv, area:execution, size:XL, lgtm

#1162 Fix Airflow 2.10 regression and Add Airflow 2.10 in test matrix
  .github/workflows/test.yml
  cosmos/operators/aws_eks.py
  cosmos/operators/azure_container_instance.py
  cosmos/operators/docker.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  pyproject.toml
Labels: execution:local, execution:virtualenv, execution:kubernetes, execution:docker, size:L, lgtm

#1080 Release 1.6.0
  CHANGELOG.rst
  cosmos/__init__.py
Labels: profile:databricks, parsing:dbt_ls, execution:kubernetes, area:dependencies, area:config, area:execution, area:profile, area:docs, dbt:deps, dbt:list, area:testing, size:M, lgtm

#1174 Give credits to @LennartKloppenburg in CHANGELOG.rst
  CHANGELOG.rst
Labels: area:docs, size:XS, lgtm

#1173 Add 'virtualenv_dir' param to 'Execution Config' docs
  docs/configuration/execution-config.rst
Labels: execution:virtualenv, area:docs, size:XS, lgtm

#1182 Resolve CI failures for Apache Airflow 2.7 jobs
  .github/workflows/test.yml
  scripts/test/pre-install-airflow.sh
Labels: area:ci, size:M, lgtm

#1184 Add enum constants to init for direct import
  cosmos/__init__.py
Labels: size:S, lgtm
