Repository astronomer/astronomer-cosmos, pull requests merged in 2025-06, with the labels that each got.

#1796 Upgrade Python and Airflow used to run MyPy checks
  .github/workflows/test.yml
Labels: area:ci, size:XS

#1787 Allow to disable owner inheritance from dbt into airflow DAG owners
  cosmos/airflow/graph.py
  cosmos/config.py
  docs/configuration/render-config.rst
  tests/airflow/test_graph.py
Labels: area:config, area:docs, size:L, lgtm

#1778 Assert example DAGs' `DagRunState` and fix issues
  cosmos/airflow/graph.py
  cosmos/io.py
  cosmos/operators/local.py
  dev/dags/cosmos_seed_dag.py
  dev/dags/dbt/jaffle_shop/.gitignore
  dev/dags/dbt/jaffle_shop_python/.gitignore
  dev/dags/example_cosmos_dbt_build.py
  docs/airflow3_compatibility/index.rst
  scripts/test/integration-setup.sh
  scripts/test/pre-install-airflow.sh
  tests/dbt/test_graph.py
  tests/operators/test_local.py
  tests/test_example_dags.py
  tests/utils.py
Labels: area:testing, size:L, lgtm

#1801 Add support to base64 encoded pem in Snowflake profiles
  cosmos/profiles/snowflake/base.py
  cosmos/profiles/snowflake/user_encrypted_privatekey_env_variable.py
  cosmos/profiles/snowflake/user_privatekey.py
  tests/profiles/snowflake/test_snowflake_user_encrypted_privatekey_env_variable.py
  tests/profiles/snowflake/test_snowflake_user_privatekey.py
Labels: profile:snowflake, size:L
