Repository astronomer/astronomer-cosmos, pull requests merged in 2025-01, with the labels that each got.

#1439 Fix `httpx.get` exception handling while emitting telemetry
  cosmos/telemetry.py
  tests/test_telemetry.py
Labels: size:M

#1445 Upgrade GitHub action artifacts upload-artifact & download-artifact to v4
  .github/workflows/deploy.yml
Labels: area:ci, size:XS

#1446 Enable Depandabot to scan outdated Github Actions dependencies
  .github/dependabot.yml
Labels: area:config, area:ci, size:S

#1456 Docs: Update `operator args` docs to include `install_deps`
  docs/configuration/operator-args.rst
Labels: area:docs, size:XS

#1463 Fix rendering detached tests in `TestBehavior.NONE` and `AFTER_ALL`
  cosmos/airflow/graph.py
  tests/test_converter.py
Labels: area:rendering, area:testing, size:L

#1467 Improve Cosmos ``select`` docs to include latest graph operator support
  docs/configuration/selecting-excluding.rst
Labels: area:docs, size:XS

#1464 Fix detached test tasks names so they do not exceed 250 chars
  cosmos/airflow/graph.py
  tests/airflow/test_graph.py
  tests/test_converter.py
Labels: area:execution, size:M

#1470 Allow users to opt-in or out (default) of detached test nodes
  cosmos/airflow/graph.py
  cosmos/config.py
  dev/dags/example_tests_multiple_parents.py
  docs/_static/test_with_multiple_parents_failure.png
  docs/_static/test_with_multiple_parents_success.png
  docs/configuration/render-config.rst
  docs/configuration/testing-behavior.rst
  docs/index.rst
  tests/test_converter.py
Labels: area:config, area:rendering, area:docs, size:L

#1465 Release 1.8.2
  CHANGELOG.rst
  cosmos/__init__.py
  docs/configuration/testing-behavior.rst
Labels: area:rendering, area:docs, size:M

#1466 Fix custom "+tag:some_tag" selector issue related to tests tag inheritance
  CHANGELOG.rst
  cosmos/__init__.py
  cosmos/dbt/selector.py
  tests/dbt/test_selector.py
Labels: parsing:dbt_ls, parsing:dbt_manifest, area:selector, size:L

#1480 Move `DbtRunner` related functions into `dbt/runner.py` module
  cosmos/dbt/parser/output.py
  cosmos/dbt/runner.py
  cosmos/exceptions.py
  cosmos/operators/local.py
  docs/requirements.txt
  pyproject.toml
  tests/dbt/test_runner.py
  tests/operators/test_local.py
Labels: parsing:dbt_ls, execution:local, area:parsing, size:L

#1483 Add structure to support multiple db for async operator execution
  cosmos/operators/_asynchronous/__init__.py
  cosmos/operators/_asynchronous/base.py
  cosmos/operators/_asynchronous/bigquery.py
  cosmos/operators/_asynchronous/databricks.py
  cosmos/operators/airflow_async.py
  tests/airflow/test_graph.py
  tests/conftest.py
  tests/operators/_asynchronous/__init__.py
  tests/operators/_asynchronous/test_base.py
  tests/operators/_asynchronous/test_bigquery.py
  tests/operators/_asynchronous/test_databricks.py
  tests/operators/test_airflow_async.py
Labels: priority:high, profile:databricks, area:execution, area:profile, size:XL, lgtm

#1484 Use `dbtRunner` in the DAG Processor when using `LoadMode.DBT_LS` if `dbt-core` is available
  cosmos/dbt/graph.py
  tests/dbt/test_graph.py
  tests/dbt/test_runner.py
Labels: priority:high, area:performance, parsing:dbt_ls, size:L

#1495 Allow users to opt-out `dbtRunner` during DAG parsing
  CHANGELOG.rst
  cosmos/config.py
  cosmos/dbt/graph.py
  docs/configuration/parsing-methods.rst
  docs/configuration/render-config.rst
  tests/dbt/test_graph.py
Labels: customer request, parsing:dbt_ls, area:parsing, dbt:parse, size:L

#1492 Support overriding the ``profile_config`` per dbt node or folder using config
  CHANGELOG.rst
  cosmos/__init__.py
  cosmos/airflow/graph.py
  cosmos/core/airflow.py
  cosmos/core/graph/entities.py
  cosmos/dbt/graph.py
  cosmos/operators/local.py
  dev/dags/basic_cosmos_task_group_different_owners.py
  dev/dags/dbt/jaffle_shop/dbt_project.yml
  docs/configuration/operator-args.rst
  docs/configuration/parsing-methods.rst
  docs/getting_started/execution-modes.rst
  docs/templates/index.rst.jinja2
  tests/airflow/test_graph.py
  tests/dbt/test_graph.py
Labels: customer request, area:config, area:profile, size:XL
