Repository astronomer/astronomer-cosmos, pull requests merged in 2025-02, with the labels that each got.

#1501 Add `on_warning_callback` to `DbtSourceKubernetesOperator` and refactor previous operators
  cosmos/operators/kubernetes.py
  tests/operators/test_kubernetes.py
Labels: execution:kubernetes, area:testing, size:L, lgtm

#1502 Ignore dbt package tests when running Cosmos tests
  pyproject.toml
Labels: area:testing, size:XS

#1499 Fix custom selector behaviour when the model name contains periods
  cosmos/dbt/selector.py
  tests/dbt/test_selector.py
Labels: parsing:dbt_manifest, size:M, lgtm

#1474 Create and run accurate SQL statements when using `ExecutionMode.AIRFLOW_ASYNC`
  CHANGELOG.rst
  cosmos/__init__.py
  cosmos/airflow/graph.py
  cosmos/constants.py
  cosmos/dbt_adapters/__init__.py
  cosmos/dbt_adapters/bigquery.py
  cosmos/operators/_asynchronous/base.py
  cosmos/operators/_asynchronous/bigquery.py
  cosmos/operators/_asynchronous/databricks.py
  cosmos/operators/airflow_async.py
  cosmos/operators/azure_container_instance.py
  cosmos/operators/base.py
  cosmos/operators/docker.py
  cosmos/operators/gcp_cloud_run_job.py
  cosmos/operators/kubernetes.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  dev/dags/simple_dag_async.py
  tests/airflow/test_graph.py
  tests/dbt_adapters/test_bigquery.py
  tests/dbt_adapters/test_init.py
  tests/operators/_asynchronous/test_base.py
  tests/operators/_asynchronous/test_bigquery.py
  tests/operators/test_aws_eks.py
  tests/operators/test_base.py
  tests/operators/test_kubernetes.py
  tests/operators/test_local.py
Labels: priority:high, profile:bigquery, area:execution, dbt:run, size:XXL, lgtm

#1514 Improve `RenderConfig` arguments documentation
  docs/configuration/render-config.rst
Labels: area:docs, size:XS

#1507 Add AWS ECS task run execution mode
  cosmos/__init__.py
  cosmos/constants.py
  cosmos/operators/aws_ecs.py
  docs/_static/cosmos_aws_ecs_schematic.png
  docs/_static/jaffle_shop_aws_ecs_dag_run.png
  docs/_static/jaffle_shop_aws_ecs_dag_run_logs.png
  docs/getting_started/aws-container-run-job.rst
  docs/getting_started/execution-modes.rst
  pyproject.toml
  tests/operators/test_aws_ecs.py
Labels: area:execution, size:XL, lgtm

#1509 Refactor to consolidate async dbt adapter code
  cosmos/_utils/__init__.py
  cosmos/_utils/importer.py
  cosmos/dbt_adapters/__init__.py
  cosmos/dbt_adapters/bigquery.py
  cosmos/operators/_asynchronous/bigquery.py
  cosmos/operators/local.py
  tests/dbt_adapters/test_bigquery.py
  tests/dbt_adapters/test_init.py
  tests/operators/_asynchronous/test_bigquery.py
  tests/operators/test_local.py
  tests/test_helpers.py
Labels: profile:bigquery, size:L, lgtm

#1516 Improve callback documentation
  docs/_static/cosmos_callback_object_storage.png
  docs/configuration/callbacks.rst
Labels: area:docs, size:M

#1520 Improve partial parsing docs
  docs/configuration/partial-parsing.rst
Labels: area:docs, size:XS

#1510 Add Support for Running DbtSourceOperator Individually
  cosmos/dbt/selector.py
  docs/configuration/selecting-excluding.rst
  tests/dbt/test_selector.py
Labels: area:selector, dbt:source, size:L, lgtm

#1523 Fix typo in selecting & excluding docs
  docs/configuration/selecting-excluding.rst
Labels: size:XS

#1526 Filter dbt and non-dbt kwrgs correctly for async operator
  cosmos/operators/airflow_async.py
  dev/dags/simple_dag_async.py
  tests/conftest.py
  tests/operators/test_airflow_async.py
Labels: area:testing, size:M

#1518 Add setup task for async executions
  cosmos/__init__.py
  cosmos/airflow/graph.py
  cosmos/constants.py
  cosmos/operators/_asynchronous/__init__.py
  cosmos/operators/_asynchronous/bigquery.py
  cosmos/operators/local.py
  cosmos/settings.py
  docs/configuration/cosmos-conf.rst
  docs/getting_started/execution-modes.rst
  tests/operators/_asynchronous/test_bigquery.py
  tests/operators/test_local.py
  tests/operators/test_virtualenv.py
Labels: area:config, area:execution, size:L

#1536 Log elapsed_time for sql file upload/download
  cosmos/operators/_asynchronous/bigquery.py
  cosmos/operators/local.py
Labels: profile:bigquery, execution:local, area:logging, size:S

#1529 Add teardown task
  cosmos/airflow/graph.py
  cosmos/constants.py
  cosmos/operators/_asynchronous/__init__.py
  cosmos/operators/local.py
  cosmos/settings.py
  docs/configuration/cosmos-conf.rst
  tests/operators/_asynchronous/test_base.py
  tests/operators/test_local.py
Labels: area:config, area:execution, area:docs, size:L

#1534 Store compiled SQL as template field for ExecutionMode.AIRFLOW_ASYNC
  cosmos/operators/_asynchronous/bigquery.py
  tests/operators/_asynchronous/test_bigquery.py
Labels: profile:bigquery, area:execution, size:L

#1538 Remove the fallback operator for async task
  cosmos/operators/_asynchronous/base.py
  tests/operators/_asynchronous/test_base.py
Labels: area:execution, area:testing, size:S

#1521 Add `ProjectConfig.install_dbt_deps` & change operator `install_deps=True` as default
  cosmos/config.py
  cosmos/converter.py
  cosmos/dbt/graph.py
  cosmos/operators/local.py
  docs/configuration/operator-args.rst
  docs/configuration/project-config.rst
  docs/configuration/render-config.rst
  tests/listeners/test_dag_run_listener.py
Labels: area:config, dbt:deps, size:M

#1544 Extend VirtualEnv operator and mock dbt adapters for setup & teardown tasks in ExecutionMode.AIRFLOW_ASYNC
  cosmos/airflow/graph.py
  cosmos/config.py
  cosmos/converter.py
  cosmos/operators/_asynchronous/__init__.py
  cosmos/operators/local.py
  cosmos/operators/virtualenv.py
  dev/dags/simple_dag_async.py
  tests/airflow/test_graph.py
  tests/operators/_asynchronous/test_base.py
  tests/operators/test_airflow_async.py
Labels: execution:virtualenv, area:execution, size:L

#1545 Document async_py_requirements added in ExecutionConfig for ExecutionMode.AIRFLOW_ASYNC
  docs/configuration/execution-config.rst
  docs/getting_started/execution-modes.rst
Labels: area:docs, size:S

#1539 Release 1.9.0
  CHANGELOG.rst
  cosmos/__init__.py
Labels: area:performance, parsing:dbt_ls, area:execution, area:docs, size:S

#1548 Fix import error in dbt bigquery adapter mock for `dbt-bigquery<1.8` for `ExecutionMode.AIRFLOW_ASYNC`
  CHANGELOG.rst
  cosmos/__init__.py
  cosmos/operators/_asynchronous/bigquery.py
Labels: profile:bigquery, area:dependencies, size:S

#1562 Improve MWAA getting-started docs by removing unused imports
  docs/getting_started/mwaa.rst
Labels: area:docs, size:XS, lgtm

#1567 Disable `example_cosmos_dbt_build.py` DAG in CI
  dev/dags/example_cosmos_dbt_build.py
  pyproject.toml
  tests/test_example_dags.py
Labels: area:testing, area:ci, size:XS, lgtm

#1561 Upgrade GitHub Actions Ubuntu version
  .github/workflows/docs.yml
Labels: area:ci, size:XS

#1558 Bugfix `operator_args` override configuration
  cosmos/converter.py
  tests/test_converter.py
Labels: area:config, size:M, lgtm

#1556 Bugfix ProjectConfig install_dbt_deps (#1555)
  cosmos/config.py
  tests/test_config.py
Labels: area:config, size:S, lgtm

#1571 Support `on_warning_callback` with `TestBehavior.BUILD` and `ExecutionMode.LOCAL`
  cosmos/airflow/graph.py
  cosmos/operators/local.py
  tests/operators/test_local.py
Labels: execution:local, area:parsing, dbt:build, size:M, lgtm
